$color-green: #48bf91;
$color-blue: #0076be;
$color-lavender: #bbbefe;
$color-purple: #9499f9;
$color-yellow: #fee46e;

:export {
  greenColor: $color-green;
  blueColor: $color-blue;
  lavenderColor: $color-lavender;
}
